# Python Cheat Notebook
> This notebook contains Python code with reduced comments


- toc: false
- branch: master
- badges: true
- comments: false
- author: Awari DS Team
- categories: [python]

### **Comments and print()**

In [1]:
# I'm a comment! When there is text after a hashtag, that text does not affect the code.

In [2]:
print("Hi")

Hi

### **Numeric Operations**

In [3]:
5 + 5 #addition

10

In [4]:
5 * 5 #multiplication

25

In [5]:
5 / 5 #division

1.0

In [6]:
5 ** 2 #exponentiation

25

In [7]:
4 % 2 #modulus

0

In [8]:
5 % 2 #modulus

1

In [9]:
(5 + 5) * (5 -1) #operations order

40

In [10]:
4/5 #numbers with decimal places are called "float"

0.8

### **Strings (texts)**

In [11]:
'I am a string' #you can create a string with single quotes

'I am a string'

In [12]:
"I am also a string" #you can create a string with double quotes

'I am also a string'

In [13]:
"I am a string with 'single quotes'" #to use single quotes within the string, the string is created in double quotes.

"I am a string with 'single quotes'"

In [14]:
'I am a string with "double quotes"'#to use double quotes inside the string, the string is created in single quotes.

'I am a string with "double quotes"'

In [15]:
print("I am a string".title()) # .title() makes the first letter of each word capitalized

I Am A String

In [16]:
print("I am A string".lower()) # .lower() makes all letters lowercase

i am a string

In [17]:
print("i Am a string".upper()) # .upper() makes all letters capitalized

I AM A STRING

### **Booleans and Comparison Operators**

In [18]:
True #true

True

In [19]:
False #false

False

In [20]:
1 > 2 # false

False

In [21]:
1 < 2 # true

True

In [22]:
10 >= 10 # greater than or equal (true for the condition)

True

In [23]:
10 <= 40 # less than or equal (true for the condition)

True

In [24]:
1 == 1 #true

True

In [25]:
'words' == 'word' #false

False

In [26]:
'word' == 'word' #true

True

### **Connectives**

In [27]:
(50 > 100) and (100 < 300) # and (both conditions must be satisfied)

False

In [28]:
(10 > 20) or (20 < 30) # or (only one of the conditions needs to be met)

True

In [29]:
(10 == 10.5) or (2 == 3) or (4 == 4)

True

### **if, elif, else**

In [30]:
if 10 < 20: 
    print('Corret!') # condition satisfied, the result will be printed

Corret!

In [31]:
if 1 < 2:
    print("One is less than two!") # condition satisfied, the result will be printed

One is less than two!

In [32]:
if 1 < 2: 
    print('Correct') # condition satisfied, the result will be printed
else:
    print('Incorrect')

Correct

In [33]:
if 1 > 2: 
    print('Correct') 
else:
    print('Incorrect') # condition not satisfied, the "else" result will be printed

Incorrect

In [34]:
if 1 == 2:
    print('first condition')
elif 3 == 3:
    print('second condition')
else:
    print('None of the conditions') # the second condition is true

second condition

####  **Variables**

You can think of variables as words that store a value. That simple:

In [35]:
variable = 20 # defines that 20 will be stored in the 'variable' word

In [36]:
variable # "calling" the variable

20

In [37]:
two = 2
word = 'words'  #defining more than one variable

In [38]:
age = 25
name = 'John'

In [39]:
print(age,name)

25 John

####  **Format**

In [40]:
print('My name is: {}, my age is: {}'.format(name,age)) 
# With {} and .format () you replace text with variables:

My name is: John, my age is: 25

In [41]:
print(f'My name is: {name}, my age is: {age}')
# you can also format a string with and f before it and the variables inside {}

My name is: John, my age is: 25

It is also possible to create variables from the values of other variables:

In [42]:
x = 2
y = 3

In [43]:
z = x + y #z is the sum of x and y, which can be any values (2 and 3 in this case).

In [44]:
z

5

### **Lists**

In [45]:
[5,10,15] # lists are written with []

[5, 10, 15]

In [46]:
['words',5,(5*5),name] # it is possible to store different types of data

['words', 5, 25, 'John']

You can add an item to the list:

In [47]:
my_list = ['a','b','c'] #a variable (my_list) that contains a list

In [48]:
my_list.append('d') #append adds an item to the list

In [49]:
my_list # the list after appending

['a', 'b', 'c', 'd']

In [50]:
my_list[0] #0 calls the list's first item

'a'

In [51]:
my_list[1] #1 calls the list's second item

'b'

In [52]:
my_list[1:] # What comes before the colon is the starting point of the selection. 
            #  In this case, the second item is selected until the last

['b', 'c', 'd']

In [53]:
my_list[:2] # What comes after the colon is the arrival point of the selection. 
          # In this case, it is selected from the first item to the third [2]

['a', 'b']

In [54]:
my_list[0] = 'NEW' # replaces the element

In [55]:
my_list # list after replacing

['NEW', 'b', 'c', 'd']

In [56]:
del my_list[2] # deletes the list's third item

In [57]:
my_list # list after the remotion

['NEW', 'b', 'd']

In [58]:
len(my_list) # checks the number of items in the list.

3

In [59]:
nested = [1,2,3,[4,5,['hello',"guys"]]] # It is possible to store lists within lists (nested list)
                                        # The [] within the list create other list

In [60]:
nested[3] # the fourth item on the nest list is also a list

[4, 5, ['hello', 'guys']]

In [61]:
nested[3][2] # finds the element within the list stored in the "nested" list

['hello', 'guys']

In [62]:
nested[3][2][0] # finds the first element within the list that was stored within the "nested" list

'hello'

### **Dictionaries**

In [63]:
d = {'key1':'item1','key2':'item2'} # dictionaries are created with {} and have keys and values

In [64]:
d # calling the dictionary

{'key1': 'item1', 'key2': 'item2'}

In [65]:
d['key1'] # here we call the value stored in key1

'item1'

In [66]:
d['key3']="item3" # it is also possible to add keys and values to the dictionary, as in the example.

In [67]:
d # the dictionary after adding the key3

{'key1': 'item1', 'key2': 'item2', 'key3': 'item3'}

**Tuples**

In [68]:
t = (1,2,3) # tuples are created with () and are immutable

In [69]:
t[0]

1

In [70]:
t[0] = 'NEW' # it is not possible to change it, so an error will occur!

TypeError: 'tuple' object does not support item assignment

### Loops - **for**:

In [71]:
my_list = [1,2,3,4,5,"hello",'world'] # creating a new list with integers and strings

In [72]:
for item in my_list: # in this for loop, each item in the list is printed.
    print(item)

1
2
3
4
5
hello
world

In [73]:
for item in my_list: # in this for loop, for each recognized list item you are asked to print the word "Looping"
    print('Looping')

Looping
Looping
Looping
Looping
Looping
Looping
Looping

In [74]:
for i in my_list: #in this for loop, each element of the list is multiplied by 2. 
    print(2*i)        #It is important to realize the difference between the behavior of the operator with numbers and strings.

2
4
6
8
10
hellohello
worldworld

### Loops - **while**

In [75]:
i = 1
while i < 5:                     #as long as the requested condition is true (i less than 5), the loop will be executed.
    print('i is: {}'.format(i))  
    i = i+1

i is: 1
i is: 2
i is: 3
i is: 4

In [76]:
i = 3
while i < 7:                     # as long as the condition is true (i less than 7), 
    print('i is: {}'.format(i))  # the loop will be executed. i is updated at the end of the loop
    i = i+1

i is: 3
i is: 4
i is: 5
i is: 6

### **range()**

In [77]:
range(0,5) #defines an intervalo

range(0, 5)

In [78]:
for i in range(0,5):       # defines that the loop will be executed while i is within the range
    print("The number is: {} ".format(i))

The number is: 0
The number is: 1
The number is: 2
The number is: 3
The number is: 4

In [79]:
list(range(2,7)) # turns the range into a list of values

[2, 3, 4, 5, 6]

### **List comprehension**

In [80]:
x = [1,2,3,4] # creates a new list

In [81]:
out = []           # here a loop is created to raise the elements of list x to the power of 2.
for item in x:     
    out.append(item**2)
print(out)

[1, 4, 9, 16]

In [82]:
[item**2 for item in x] # here we have a pythonic way to accomplish the same task, with just one line of code

[1, 4, 9, 16]

### **Functions**

In [83]:
def my_func(phrase): #def is the word used to create the function. After that, 
  print(phrase)      #the function name comes and the parameters come inside the parenthesis. 
                     #In this case, we create a function that will print the sentence we want.

In [84]:
my_func("Hello World") #The phrase is "Hello World"

Hello World

In [85]:
my_func("I'm in the Data Science Bootcamp") #With another phrase

I'm in the Data Science Bootcamp

In [86]:
def multiply_by_2(x): #In this case, we create a function that multiplies by 2.
    return x*2

In [87]:
result = multiply_by_2(5) # Applying the function to a number

In [88]:
result

10

In [89]:
word_2 = multiply_by_2('Hi ') # It can be applied with strings too, but the behavior is different.
word_2

'Hi Hi '

In [90]:
def complex_function(x,y,z): #x,y,z are parameters
  s = x+y+z                   # the function creates the s variable
  m = x*y*z                   # the function creates the m variable
  print("The sum of x, y and z is: ", s)           # the function prints the results
  print("The multiplication of x, y and z is: ", m)

In [91]:
complex_function(5,2,3)

The sum of x, y and z is:  10
The multiplication of x, y and z is:  30

### **Classes and functions**

In [92]:
class Person: #creates the class
  def __init__(self,name,age,profession): #initiates the class
    self.name=name    #defines atributes
    self.age=age
    self.profession=profession

  def historic(self): #creates a method, a function designated specifically to the class created
    print("The object {} us {} years old and is a {}!".format(self.name,self.age,self.profession))

In [93]:
soccer_player = Person("John",150,"soccer_player")          #creates an instance of the Person class
journalist = Person("Mary",235,"journalist")

In [94]:
soccer_player.age #shows one of the atributes

150

In [95]:
soccer_player.historic() #applies the created method to one of the instances

The object John us 150 years old and is a soccer_player!

In [96]:
journalist.historic() #applies the created method to one of the instances

The object Mary us 235 years old and is a journalist!

![](https://i.imgur.com/YX6UATs.png)